.paragraph {
	font-size: 1.15vw;
	line-height: 1.5vw;
	font-family: "Helvetica";
}

.header {
	font-size: 2.5vw;
	line-height:0vw;
	font-family: "Helvetica";
	
}

.title {
	font-size:3vw;
	line-height: 0vw;
	font-family: "Helvetica";
}

body {
	left:200px;
}
	