@font-face{
	font-family: "Sansation";
	src:url("fonts/Sansation_Regular.ttf")
}

@font-face{
	font-family: "Vollkorn SC";
	src:url("fonts/VollkornSC-Regular.ttf")
}

.paragraph {
	font-size: 1.15vw;
	line-height: 1.5vw;
	font-family: Sansation;
	color: #626262;
}

.header {
	font-size: 2.5vw;
	line-height:1.5vw;
	font-family: Sansation;
	color: #4d4d4d;
	
}

.title {
	font-size:3vw;
	line-height: 1.5vw;
	font-family: Sansation;
	color: #4d4d4d;
}

body{        
	padding-top: 2vw;
	padding-bottom: 40px;
}
.container{
	width: 80%;
	margin: auto; /* Center the DIV horizontally */
}
.fixed-header, .fixed-footer{
	width: 100%;
	height: 2%;
	left: 0px;
	top: 0px;
	position: fixed;        
	padding: 1% 1%;
	background: #FFFFFF;
	box-shadow: 0px 2px 15px 3px rgba(98, 98, 98, 0.14);
	align-items: center;
	justify-content: center;
	display:flex;
}
.fixed-header{
	top: 0;
}
.fixed-footer{
	bottom: 0;
}
.logo{
	position: absolute;
	width: 259px;
	height: 27px;
	left: 10px;
	top: 10px;

	font-family: Vollkorn SC;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	display: flex;
	align-items: flex-end;
	text-decoration: none;
	color: #626262;
}

/* Some more styles to beutify this example */
nav a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	font-size:100%;
	font-family: Sansation;
}
.container p{
	line-height: 200px; /* Create scrollbar to test positioning */
}

a{
	text-decoration: underline;
	color: #626262;
}
/* unvisited link */
a:link {
  color: #626262;
}

/* visited link */
a:visited {
  color: #626262;
}

/* mouse over link */
a:hover {
  color: #1a1a1a;
}

/* selected link */
a:active {
  color: #1a1a1a;
}